.blog {
    padding-bottom: 80px;
    .container--big {
        background-color: var(--paper);
        border-radius: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.blog__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.blog__list {
    display: grid;
    grid-template-columns: 580px auto;
    grid-template-rows: 1fr 1fr;
    gap: 32px 44px;
}

.blog__item {
    display: flex;
    gap: 24px;
    
}

.blog__img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    img {
        object-fit: cover;
    }
}

.blog__item--big {
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 2;
    .blog__img {
        min-width: 580px;
        height: 276px;
    }
}

.blog__item--small {
    align-items: center;
    .blog__img {
        min-width: 320px;
        height: 200px;
    }
}

.blog__info {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #F2A531;
    margin-bottom: 12px;
}

.blog__link {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    &::after {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url(../../img/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.blog__description {
    line-height: 1.5;
    color: var(--text-subtext);
}