.blog {
    .container--big {
        background-color: var(--paper);
        border-radius: 20px;
        padding: 100px 0;
    }
}

.blog__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
}

.blog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
}