.intro {
    padding: 109.008px 0 11.25rem;
}
.intro__top {
    text-align: center;
    color: var(--text-secondary);
    background-image: url(../../img/intro-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-transform: uppercase;
    border-radius: 1.25rem;
    overflow: hidden;
    min-height: 46.75rem;
}

.intro__title {
    font-size: max(58px, min(15vw, 250px));
    font-weight: 600;
    line-height: 0.9;
    padding-top: 5.313rem;
}

.intro__text {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    width: 95%;
    margin: 0 auto;
}

.intro__achievements {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    margin-top: -3.438rem;
    margin-bottom: 5.625rem;
}

.intro__achievement {
    display: flex;
    align-items: center;
    gap: 1.625rem;
    background-color: var(--paper);
    border-radius: 1.25rem;
    max-width: 36.25rem;
    padding: 10px 14px;
    cursor: pointer;
}

.achievement__img {
    min-width: 214px;
    width: 100%;
    height: 142px;
    border-radius: 20px;
    overflow: hidden;
}

.achievement__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

.achievement__title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.38;
}

.achievement__text {
    font-size: 0.875rem;
    line-height: 1.1875rem;
}

.intro__stats {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.875rem 1.125rem;
    margin-bottom: 70px;
    background-color: var(--paper);
    border-radius: 20px;
}

.stats__item {
    max-width: 273px;
    text-align: center;
    dt {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.17;
    }
    dd {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.27;
        color: var(--text-subtext);
        width: 95%;
    }
}

.intro__progress {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.progress__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    color: var(--text-subtext);
    span {
        color: var(--text-primary);
    }
}

.progress__container {
    display: flex;
    justify-content: space-between;
    gap: 48px;

}

.progress__img {
    max-width: 340px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.progress__content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 948px;
    width: 100%;
}

.progress__text {
    width: 95%;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.39
    ;
}

.progress__table {
    display: flex;
    flex-direction: column;
    gap: 10px;
   .table__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        gap: 48px;
        border-bottom: 1px solid;
        border-color: var(--border-primary);
        &:first-child {
            border-top: 1px solid;
            border-color: var(--border-primary);
        }
        dt{
            font-weight: 500;
            font-size: 18px;
            line-height: 1.38;
            width: 60%;
        }
        dd {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.38;
            color: var(--text-subtext);
            width: 40%;
            text-align: end;
        }
   }
}

@include respond-to(desktop) {
    .intro__text {
        font-size: 1.6rem;
    }
    .stats__item {
        dt {
            font-size: 32px;
        }
        dd {
            font-size: 20px;
        }
    }
    .progress__title {
        font-size: 32px;
    }
}

@include respond-to(tablet) {
    .intro {
        padding: 64px 0 7.2rem;
    }
    .intro__top {
        min-height: 37rem;
    }
    .intro__title {
        margin-bottom: 16px;
    }
    .intro__achievement {
        flex-direction: column;
        gap: 16px;
    }
    .achievement__img {
        object-fit: cover;
        object-position: center;
    }
    .achievement__content {
        gap: 12px;
        padding: 0;
    }
    .intro__stats {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .stats__item {
        width: 256px;
    }
    .progress__title {
        font-size: 32px;
    }
    .progress__container {
        flex-direction: column;
        gap: 32px;
    }
    .progress__img {
        max-width: 100%;
        height: 280px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .progress__content {
        gap: 24px;
    }
    .progress__table .table__item {
        gap: 16px;
    }
}

@include respond-to(mobile) {
    .intro {
        padding: 64px 0 5rem;
    }
    .intro__top {
        border-radius: 0;
        min-height: 29rem;
    }
    .intro__text {
        font-size: 1.125rem;
    }
    .intro__achievements {
        margin-bottom: 40px;
        overflow: scroll;
    }
    .achievement__img {
        min-width: 170px;
        height: 92px;
    }
    .achievement__content {
        min-width: 214px;
    }
    .achievement__title {
        font-size: 12px;
    }
    .achievement__text {
        font-size: 10px;
        line-height: 1.2;
    }
    .intro__stats {
        gap: 1rem;
        padding: 15px 9px;
        margin-bottom: 40px;
    }
    .stats__item {
        width: 167px;
        dt {
            font-size: 24px;
        }
        dd {
            font-size: 16px;
        }
    } 
    .intro__progress {
        gap: 20px;
    }
    .progress__title {
        font-size: 22px;
    }
    .progress__container {
        gap: 24px;
    }
    .progress__img {
        height: 140px;
    }
    .progress__text {
        width: 100%;
        font-size: 14px;
    }
    .progress__table {
        .table__item {
            padding: 6px 0px;
            dt {
                font-size: 14px;
            }
            dd {
                font-size: 12px;
            }
        }
    }
}