.products {
    .btn {
        margin:  0 auto;
    }
}

.products__wrap {
    background-color: var(--paper);
    border-radius: 1.25rem;
    padding: 3.125rem 0;
}

.products__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: max(24px, min(5vw, 40px));
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
}

.products__list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2.1875rem;
}

.products__item {
    position: relative;
    max-width: 28.75rem;
    width: 100%;
    min-height: 20.125rem;
    background-color: var(--paper-green);
    border-radius: 0.625rem;
    padding: 3.1875rem 1.5rem;
    overflow: hidden;
    color: var(--text-secondary);
    &:nth-child(2n) {
        background-color: var(--paper-white);
        color: var(--text-primary);
    }

    .item__img {
        position: absolute;
        bottom: -0.125rem;
        right: -0.125rem;
        z-index: 0;
    }
    .item__btn {
        position: absolute;
        bottom: -0.75rem;
        left: -0.25rem;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        background-color: var(--paper);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        transition: 0.2s ease;
    }
    .item__title {
        position: relative;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.19;
        margin-bottom: 14px;
        z-index: 3;
    }
    .item__subtitle {
        position: relative;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.375rem;
        z-index: 3;
    }
    &:hover {
        & .item__btn {
            transform: scale(1.3) translate(2px, -6px);
        }
    }
}

@include respond-to(tablet) {
    .products__title {
        margin-bottom: 32px;
    }
    .products__item {
        max-width: 368px;
        min-height: 258px;
        padding: 40px 19px;
        .item__title {
            font-size: 26px;
            margin-bottom: 10px;
        }
    }
}