:root{
//Font
    --main-font-family: 'Nunito Sans Variable', sans-serif;
    
// Text colors
    --text-primary: #0E0D0D;
    --text-secondary: #FDFDF0;
    --text-subtext: rgba(14, 13, 13, 0.71);
    --accent: #F2A531;

    //Border colors
    --border-primary: rgba(14, 13, 13, 0.23);

//Colors
    --default-light: #FDFDF0;
    --default-dark: #0E0D0D;
    --paper: #F4F4E7;
    --paper-green: #355020;
    --paper-white: #FFFFFF;


// Transition
    --transition-duration: 0.3s;

// Box-shadow
    --box-shadow-header: 0 5px 10px rgb(0 0 0 / 25%)
    --box-shadow-dropdown: 0px 4px 16px rgba(10, 13, 20, 0.32), 0px 16px 56px rgba(10, 13, 20, 0.48), 0px 4px 4px rgba(0, 0, 0, 0.25)
}