<section class="blog">
    <div class="container--big">
        <div class="container">
            <h2 class="blog__title">Recent blog posts</h2>
            <div class="blog__list">
                <div class="blog__item blog__item--big">
                    <a class="blog__img" href="#">
                        <img src="./img/blog-1.jpg" alt="Blog image"/>
                    </a>
                    <div class="blog__content">
                        <p class="blog__info">Agroton • 20 Jan 2025</p>
                        <a href="#" class="blog__link">Agroton expands sown areas</a>
                        <p class="blog__description">This year we increased sown areas by 10%, which will allow us to increase the production of grain and oilseed crops.</p>
                    </div>
                </div>
                <div class="blog__item blog__item--small">
                    <a class="blog__img" href="#">
                        <img src="./img/blog-2.jpg" alt="Blog image"/>
                    </a>
                    <div class="blog__content">
                        <p class="blog__info">Agroton • 20 Jan 2025</p>
                        <a href="#" class="blog__link">Export to a new country!</a>
                        <p class="blog__description">We entered the market of [country name] and expanded the geography of supplies of quality Ukrainian products.</p>
                    </div>
                </div>
                <div class="blog__item blog__item--small">
                    <a class="blog__img" href="#">
                        <img src="./img/blog-3.jpg" alt="Blog image"/>
                    </a>
                    <div class="blog__content">
                        <p class="blog__info">Agroton • 20 Jan 2025</p>
                        <a href="#" class="blog__link">Modern technologies in livestock farming</a>
                        <p class="blog__description">Agroton has implemented innovative systems for feeding and caring for livestock, which improves product quality.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>