<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="#" class="footer__logo"><img src="../../img/logo-light.png" alt="Logo Agroton"/></a>
      <div class="footer__nav">
        <p class="nav__title">Navigation</p>
        <ul class="nav__list">
          <li class="nav_item"><a href="#" class="nav__link">About company</a></li>
          <li class="nav_item"><a href="#" class="nav__link">Products</a></li>
          <li class="nav_item"><a href="#" class="nav__link">Partners</a></li>
          <li class="nav_item"><a href="#" class="nav__link">Blog</a></li>
          <li class="nav_item"><a href="#" class="nav__link">Contact</a></li>
        </ul>
      </div>
      <div class="footer__nav">
        <p class="nav__title">Information</p>
        <ul class="nav__list">
          <li class="nav_item"><a href="#" class="nav__link">Customer Support</a></li>
          <li class="nav_item"><a href="#" class="nav__link">Delivery Details</a></li>
          <li class="nav_item"><a href="#" class="nav__link">Terms of cooperation</a></li>
          <li class="nav_item"><a href="#" class="nav__link">Guarantees</a></li>
        </ul>
      </div>
      <div class="footer__nav">
        <p class="nav__title">Contacts</p>
        <ul class="nav__list">
          <li class="nav_item"><address class="nav__link">Ukraine, Kyiv, ul. Ilyinskaya 8</address></li>
          <li class="nav_item"><a href="mailto:au.gl.notorga@ofni.ua" class="nav__link">au.gl.notorga@ofni.ua</a></li>
          <li class="nav_item"><a href="tel:+380982563265" class="nav__link">+380 98 256 32 65</a></li>
        </ul>
      </div>
      
    </div>
    <ul class="footer__bottom">
      <li class="bottom__item">2025 Agroton© All rights reserved.</li>
      <li class="bottom__item"><a href="#">Privacy Policy</a></li>
      <li class="bottom__item"><a href="#">Offer contract</a></li>
    </ul>
  </div>
</footer>
