<header class="header container">
     <div class="header__inner">
          <a href="#" class="logo">
               <img src="images/logo.png" alt="Agroton Logo">
          </a>
          <nav class="menu">
               <ul class="menu__list">
                    <li class="menu__item"><a href="#" class="menu__link">About company</a></li>
                    <li class="menu__item"><a href="#" class="menu__link"></a>Products</li>
                    <li class="menu__item"><a href="#" class="menu__link"></a>Partners</li>
                    <li class="menu__item"><a href="#" class="menu__link"></a>Blog</li>
                    <li class="menu__item"><a href="#" class="menu__link"></a>Contact</li>
               </ul>
            
          </nav>
     </div>
     HEADER
</header>
