<header class="header">
     <div class="container">
          <div class="header__inner">
          <a href="#" class="logo">
               <img src="../../img/logo.png" alt="Agroton Logo">
          </a>
          <button class="burger js-burger">
               <span></span>
          </button>
          
          <nav class="menu js-mobile-menu">
               <ul class="menu__list">
                    <li class="menu__item"><a href="#" class="menu__link">About company</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Products</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Partners</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
               </ul>
          </nav>
          <a href="#" class="btn header__contacts">Contact us</a>
     </div>
     </div>
     
</header>