    <section class="intro">
        <div class="container--big">
            <div class="intro__top">
                <h1 class="intro__title">Agroton</h1>
                <p class="intro__text">one of the largest producers of agricultural products in Ukraine</p>
            </div>
        </div>
        <div class="container horizontal-scroll">
            <div class="intro__achievements">
                <a href="#" class="intro__achievement">
                    <img src="../../img/achievement-1.png" alt="Preview blog post" class="achievement__img">
                    <div class="achievement__content">
                        <h4 class="achievement__title">Agroton is among the leaders in wheat production in Ukraine</h4>
                        <p class="achievement__text"><span class="text--bold">We rank</span><span class="text--color"> 4th in Ukraine</span> in terms of wheat production, ensuring high quality grain thanks to modern technologies and fertile Ukrainian fields.</p>
                    </div>
                </a>
                <a href="#" class="intro__achievement">
                    <img src="../../img/achievement-2.png" alt="Preview blog post" class="achievement__img">
                    <div class="achievement__content">
                        <h4 class="achievement__title">Agroton number 1 in chicken production in Ukraine</h4>
                        <p class="achievement__text"><span class="text--bold">We lead the chicken market</span> in Ukraine, guaranteeing the highest quality products thanks to modern technologies, safety controls.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="container">
            <dl class="intro__stats">
                <div class="stats__item">
                    <dt>100%</dt>
                    <dd>quality of production</dd>
                </div>
                <div class="stats__item">
                    <dt>50+</dt>
                    <dd>modern agricultural technologies</dd>
                </div>
                <div class="stats__item">
                    <dt>1.5 mil. tons</dt>
                    <dd>products we produce every year</dd>
                </div>
                <div class="stats__item">
                    <dt>10+ countries</dt>
                    <dd>we export products all over the world</dd>
                </div>
            </dl>
            <div class="intro__progress">
                <p class="progress__title">
                    <span class="text--bold">Agroton is the largest diversified vertically</span> integrated agricultural producer in Eastern Ukraine. Agroton is a regional leader in the cultivation of agricultural crops, livestock farming
                </p>
                <div class="progress__container">
                    <div class="progress__img">
                        <img src="../../img/inro-progress.png" alt="Image with wheat and sky"/>
                    </div>
                    <div class="progress__content">
                        <p class="progress__text">Agroton is <span class="text--color">30 years</span> of leadership in the agricultural sector. We cultivate <span class="text--color">200,000+ hectares of land</span>, supply the market with quality products and export <span class="text--color">to 10+ countries.</span> <span class="text--bold">Our mission is</span> to develop agriculture, introduce innovations and provide people with natural products.</p>
                        <dl class="progress__table">
                            <div class="table__item">
                                <dt><span class="text--color">№1</span> in sunflower production in Ukraine</dt>
                                <dd>48,000 hectares of sown areas.</dd>
                            </div>
                            <div class="table__item">
                                <dt><span class="text--color">№4</span> in wheat production</dt>
                                <dd>50,000 hectares of fields.</dd>
                            </div>
                            <div class="table__item">
                                <dt><span class="text--color">№1</span> in grain elevator capacity in Luhansk region</dt>
                                <dd>235,000 tons of storage.</dd>
                            </div>
                            <div class="table__item">
                                <dt><span class="text--color">№1</span> in poultry production in Luhansk region</dt>
                                <dd>4,000,000 chickens.</dd>
                            </div>
                            <div class="table__item">
                                <dt><span class="text--color">№5</span> in milk production in Ukraine</dt>
                                <dd>4,500 dairy cattle.</dd>
                            </div>
                            <div class="table__item">
                                <dt><span class="text--color">№2</span> in bakery production in Luhansk</dt>
                                <dd>7,000 tons of products per year.</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>

