    <section class="intro">
        <div class="container--big">
            <div class="intro__top">
                <h1 class="intro__title">Agroton</h1>
                <p class="intro__text">one of the largest producers of agricultural products in Ukraine</p>
            </div>
        </div>
        <div class="container">
            <div class="intro__achievements">
                <a href="#" class="intro__achievement">
                    <img src="../../img/achievement-1.png" alt="Preview blog post" class="achievement__img">
                    <div class="achievement__content">
                        <h4 class="achievement__title">Agroton is among the leaders in wheat production in Ukraine</h4>
                        <p class="achievement__text"><span class="text--bold">We rank</span><span class="text--color"> 4th in Ukraine</span> in terms of wheat production, ensuring high quality grain thanks to modern technologies and fertile Ukrainian fields.</p>
                    </div>
                </a>
                <a href="#" class="intro__achievement">
                    <img src="../../img/achievement-2.png" alt="Preview blog post" class="achievement__img">
                    <div class="achievement__content">
                        <h4 class="achievement__title">Agroton – number 1 in chicken production in Ukraine</h4>
                        <p class="achievement__text"><span class="text--bold">We lead the chicken market</span> in Ukraine, guaranteeing the highest quality products thanks to modern technologies, safety controls.</p>
                    </div>
                </a>
            </div>

        </div>
    </section>

