<section class="partners">
    <div class="container">
        <div class="partners__wrapper">
            <div class="partners__actions">
                <h5 class="actions__title">Agroton is a reliable supplier of agricultural products</h5>
                <div class="actions__bottom">
                    <p class="actions__text">We cooperate with processors, distributors and retail chains, ensuring stable supplies and high quality standards.</p>
                    <a href="#" class="btn">Contact us</a>
                </div>
            </div>
            <div class="partners__content">
                <div class="partners__info">
                    <div class="info__content">
                        <img src="../../img/logo-small.png" alt="Logo Agroton" class="logo">
                        <ul class="info__list">
                            <li class="info__item">
                                <a href="#" class="info__link"><span class="text--color text--bold">Direct deliveries</span> of products from the manufacturer</a>
                            </li>
                            <li class="info__item">
                                <a href="#" class="info__link"><span class="text--color text--bold">Guaranteed</span> traceability and certification</a>
                            </li>
                            <li class="info__item">
                                <a href="#" class="info__link"><span class="text--color text--bold">Individual</span> approach to each partner</a>
                            </li>
                        </ul>
                    </div>
                    <div class="info__img">
                        <img src="../../img/partners.jpg" alt="A wheat field and a blue sky"/>
                    </div>
                </div>
                <div class="partners__promo">
                    <p class="promo__text"><span class="text--bold text--color">We value</span> long-term relationships and are open to new opportunities for cooperation!</p>
                </div>
            </div>
        </div>
    </div>
</section>