<section class="products">
    <div class="products__wrap container--big">
        <div class="container">
            <h2 class="products__title">High quality agricultural products</h2>
            <div class="products__list">
                <a href="#" class="products__item">
                    <img class="item__img" src="../../img/product-1.png" alt="The sacks are filled with grain."/>
                    <h3 class="item__title">Cereal crops</h3>
                    <p class="item__subtitle">(wheat, barley, corn)</p>
                    <button class="item__btn">
                        <img src="../../img/arrow.svg" alt="button arrow"/>
                    </button>
                </a>
                <a href="#" class="products__item">
                    <img class="item__img" src="../../img/product-2.png" alt="The sacks are filled with grain."/>
                    <h3 class="item__title">Oilseeds</h3>
                    <p class="item__subtitle">(sunflower, rapeseed, soybean)</p>
                    <button class="item__btn">
                        <img src="../../img/arrow.svg" alt="button arrow"/>
                    </button>
                </a>
                <a href="#" class="products__item">
                    <img class="item__img" src="../../img/product-3.png" alt="The sacks are filled with grain."/>
                    <h3 class="item__title">Dairy products</h3>
                    <p class="item__subtitle">(milk, dairy products)</p>
                    <button class="item__btn">
                        <img src="../../img/arrow.svg" alt="button arrow"/>
                    </button>
                </a>
                <a href="#" class="products__item">
                    <img class="item__img" src="../../img/product-4.png" alt="The sacks are filled with grain."/>
                    <h3 class="item__title">Bakery products</h3>
                    <p class="item__subtitle">(bread, pastries)</p>
                    <button class="item__btn">
                        <img src="../../img/arrow.svg" alt="button arrow"/>
                    </button>
                </a>
                <a href="#" class="products__item">
                    <img class="item__img" src="../../img/product-5.png" alt="The sacks are filled with grain."/>
                    <h3 class="item__title">Poultry farming</h3>
                    <p class="item__subtitle">(chicken, eggs)</p>
                    <button class="item__btn">
                        <img src="../../img/arrow.svg" alt="button arrow"/>
                    </button>
                </a>
                <a href="#" class="products__item">
                    <img class="item__img" src="../../img/product-6.png" alt="The sacks are filled with grain."/>
                    <h3 class="item__title">Vegetables and fruits</h3>
                    <p class="item__subtitle">(if available in production)</p>
                    <button class="item__btn">
                        <img src="../../img/arrow.svg" alt="button arrow"/>
                    </button>
                </a>
            </div>
            <a href="#" class="products__link">
                See catalog
                <div class="link__icon">
                    <img src="../../img/arrow.svg" alt="Arrow"/>
                </div>
            </a>
        </div>
    </div>
    
</section>